data/
data2/
__pycache__/
/source/surgeon_recording/surgeon_recording/*/__pycache__/
/notebooks/.ipynb_checkpoints
/source/surgeon_recording/config/FingerTPS_EPFL1-cal.txt
/source/surgeon_recording/config/FingerTPS_EPFL2-cal.txt
/pictures/
/raw_data/
/Videos/
/knots_data
/data_old/*
/surgeon_data/*
/source/surgeon_recording/build/
/source/surgeon_recording/dist/
*/.ipynb_checkpoints/
